In [1]:
#Data imports

import pandas as pd

import numpy as np

#Visualization imports

import matplotlib.pyplot as plt

import seaborn as sns

import glob

%matplotlib inline

In [2]:
df = pd.read_csv('action.csv')
print(df.head())

    movie_id                         movie_name  year certificate  runtime  \
0  tt9114286     Black Panther: Wakanda Forever  2022       PG-13  161 min
1  tt1630029           Avatar: The Way of Water  2022       PG-13  192 min
2  tt5884796                              Plane  2023           R  107 min
3  tt6710474  Everything Everywhere All at Once  2022           R  139 min
4  tt5433140                             Fast X  2023         NaN      NaN

                        genre  rating  \
0    Action, Adventure, Drama     6.9
1  Action, Adventure, Fantasy     7.8
2            Action, Thriller     6.5
3   Action, Adventure, Comedy     8.0
4      Action, Crime, Mystery     NaN

                                         description  \
0  The people of Wakanda fight to protect their h...
1  Jake Sully lives with his newfound family form...
2  A pilot finds himself caught in a war zone aft...
3  A middle-aged Chinese immigrant is swept up in...
4  Dom Toretto and his family are targeted by the...

                       director       director_id  \
0                  Ryan Coogler  /name/nm3363032/
1                 James Cameron  /name/nm0000116/
2          Jean-François Richet  /name/nm0724938/
3  Dan Kwan, \nDaniel Scheinert  /name/nm3453283/
4               Louis Leterrier  /name/nm0504642/

                                                star  \
0  Letitia Wright, \nLupita Nyong'o, \nDanai Guri...
1  Sam Worthington, \nZoe Saldana, \nSigourney We...
2  Gerard Butler, \nMike Colter, \nTony Goldwyn, ...
3  Michelle Yeoh, \nStephanie Hsu, \nJamie Lee Cu...
4  Vin Diesel, \nJordana Brewster, \nTyrese Gibso...

                                             star_id     votes  gross(in $)
0  /name/nm4004793/,/name/nm2143282/,/name/nm1775...  204835.0          NaN
1  /name/nm0941777/,/name/nm0757855/,/name/nm0000...  295119.0          NaN
2  /name/nm0124930/,/name/nm1591496/,/name/nm0001...   26220.0          NaN
3  /name/nm3215397/,/name/nm0000706/,/name/nm3513...  327858.0          NaN
4  /name/nm0004874/,/name/nm0108287/,/name/nm0879...       NaN          NaN

In [3]:
#Combining CSV Files into a Single DataFrame

files = glob.glob('*.csv')

# Initialize an empty DataFrame to hold the combined data
combined_df = pd.DataFrame()

for filename in files:
    df = pd.read_csv(filename)
    combined_df = pd.concat([combined_df, df], ignore_index=True)

In [4]:
print(combined_df.head(5))

    movie_id                         movie_name  year certificate  runtime  \
0  tt9114286     Black Panther: Wakanda Forever  2022       PG-13  161 min
1  tt1630029           Avatar: The Way of Water  2022       PG-13  192 min
2  tt5884796                              Plane  2023           R  107 min
3  tt6710474  Everything Everywhere All at Once  2022           R  139 min
4  tt5433140                             Fast X  2023         NaN      NaN

                        genre  rating  \
0    Action, Adventure, Drama     6.9
1  Action, Adventure, Fantasy     7.8
2            Action, Thriller     6.5
3   Action, Adventure, Comedy     8.0
4      Action, Crime, Mystery     NaN

                                         description  \
0  The people of Wakanda fight to protect their h...
1  Jake Sully lives with his newfound family form...
2  A pilot finds himself caught in a war zone aft...
3  A middle-aged Chinese immigrant is swept up in...
4  Dom Toretto and his family are targeted by the...

                       director       director_id  \
0                  Ryan Coogler  /name/nm3363032/
1                 James Cameron  /name/nm0000116/
2          Jean-François Richet  /name/nm0724938/
3  Dan Kwan, \nDaniel Scheinert  /name/nm3453283/
4               Louis Leterrier  /name/nm0504642/

                                                star  \
0  Letitia Wright, \nLupita Nyong'o, \nDanai Guri...
1  Sam Worthington, \nZoe Saldana, \nSigourney We...
2  Gerard Butler, \nMike Colter, \nTony Goldwyn, ...
3  Michelle Yeoh, \nStephanie Hsu, \nJamie Lee Cu...
4  Vin Diesel, \nJordana Brewster, \nTyrese Gibso...

                                             star_id     votes  gross(in $)
0  /name/nm4004793/,/name/nm2143282/,/name/nm1775...  204835.0          NaN
1  /name/nm0941777/,/name/nm0757855/,/name/nm0000...  295119.0          NaN
2  /name/nm0124930/,/name/nm1591496/,/name/nm0001...   26220.0          NaN
3  /name/nm3215397/,/name/nm0000706/,/name/nm3513...  327858.0          NaN
4  /name/nm0004874/,/name/nm0108287/,/name/nm0879...       NaN          NaN

In [5]:
import warnings as wr
wr.filterwarnings('ignore')

In [6]:
#data information 
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 368300 entries, 0 to 368299
Data columns (total 14 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   movie_id     368300 non-null  object
 1   movie_name   368296 non-null  object
 2   year         315052 non-null  object
 3   certificate  104191 non-null  object
 4   runtime      259146 non-null  object
 5   genre        368300 non-null  object
 6   rating       230938 non-null  float64
 7   description  368300 non-null  object
 8   director     340931 non-null  object
 9   director_id  340931 non-null  object
 10  star         309605 non-null  object
 11  star_id      316442 non-null  object
 12  votes        230942 non-null  float64
 13  gross(in $)  25039 non-null   float64
dtypes: float64(3), object(11)
memory usage: 39.3+ MB

In [7]:
# shape of the data
combined_df.shape

(368300, 14)

In [8]:
combined_df.drop(['certificate', 'gross(in $)'], axis=1, inplace=True)
#to remove columns with mostly null data

In [9]:
#Removing movies with null running times
combined_df.dropna(subset=['runtime'], inplace=True)

In [10]:
print(combined_df.head)

<bound method NDFrame.head of           movie_id                         movie_name  year  runtime  \
0        tt9114286     Black Panther: Wakanda Forever  2022  161 min
1        tt1630029           Avatar: The Way of Water  2022  192 min
2        tt5884796                              Plane  2023  107 min
3        tt6710474  Everything Everywhere All at Once  2022  139 min
5       tt10954600  Ant-Man and the Wasp: Quantumania  2023  125 min
...            ...                                ...   ...      ...
368286  tt10674742                         Shutsugeki  1964  100 min
368287   tt0289562              Ton kairo ton Ellinon  1981   98 min
368289   tt0257609         Together in Life and Death  1964   96 min
368291   tt0009655                      Stolen Orders  1918   80 min
368299  tt26733697   Spion 11: Operasjon Traelandsfos  2001   75 min

                             genre  rating  \
0         Action, Adventure, Drama     6.9
1       Action, Adventure, Fantasy     7.8
2                 Action, Thriller     6.5
3        Action, Adventure, Comedy     8.0
5        Action, Adventure, Comedy     6.6
...                            ...     ...
368286                         War     NaN
368287       Adventure, Drama, War     6.3
368289         Drama, Romance, War     4.1
368291                  War, Drama     4.6
368299                 Comedy, War     NaN

                                              description  \
0       The people of Wakanda fight to protect their h...
1       Jake Sully lives with his newfound family form...
2       A pilot finds himself caught in a war zone aft...
3       A middle-aged Chinese immigrant is swept up in...
5       Scott Lang and Hope Van Dyne, along with Hank ...
...                                                   ...
368286                                         Add a Plot
368287  At the turn of the century (1900) a young merc...
368289  Inspired by Spyridon Peresiadis' play "Esme, t...
368291  A renegade American and his innocent daughter ...
368299                                         Add a Plot

                                                director        director_id  \
0                                           Ryan Coogler   /name/nm3363032/
1                                          James Cameron   /name/nm0000116/
2                                   Jean-François Richet   /name/nm0724938/
3                           Dan Kwan, \nDaniel Scheinert   /name/nm3453283/
5                                            Peyton Reed   /name/nm0715636/
...                                                  ...                ...
368286                                   Eisuke Takizawa   /name/nm0847695/
368287                                 Lakis Papastathis   /name/nm0660341/
368289                                    Ilias Mahairas   /name/nm0536892/
368291                    George Kelson, \nHarley Knoles   /name/nm0447094/
368299  Stein Vidar Aamodt, \nOve Olsen, \nJarle Solberg  /name/nm14562635/

                                                     star  \
0       Letitia Wright, \nLupita Nyong'o, \nDanai Guri...
1       Sam Worthington, \nZoe Saldana, \nSigourney We...
2       Gerard Butler, \nMike Colter, \nTony Goldwyn, ...
3       Michelle Yeoh, \nStephanie Hsu, \nJamie Lee Cu...
5       Paul Rudd, \nEvangeline Lilly, \nJonathan Majo...
...                                                   ...
368286  Takao Ito, \nDaisaburô Hirata, \nShinji Kanai,...
368287  Alexis Damianos, \nKostas Arzoglou, \nYorgos S...
368289  Manos Katrakis, \nMarlen Papoulia, \nAndreas B...
368291  Montagu Love, \nKitty Gordon, \nJune Elvidge, ...
368299  Andreas Hansen, \nTom Galdal, \nJarle Solberg,...

                                                  star_id     votes
0       /name/nm4004793/,/name/nm2143282/,/name/nm1775...  204835.0
1       /name/nm0941777/,/name/nm0757855/,/name/nm0000...  295119.0
2       /name/nm0124930/,/name/nm1591496/,/name/nm0001...   26220.0
3       /name/nm3215397/,/name/nm0000706/,/name/nm3513...  327858.0
5       /name/nm0748620/,/name/nm1431940/,/name/nm3718...    5396.0
...                                                   ...       ...
368286  /name/nm0411750/,/name/nm0386285/,/name/nm0437...       NaN
368287  /name/nm0198800/,/name/nm0038202/,/name/nm0759...      51.0
368289  /name/nm0441463/,/name/nm1099229/,/name/nm0055...      11.0
368291  /name/nm0461295/,/name/nm0002311/,/name/nm0330...      15.0
368299  /name/nm14562634/,/name/nm14562633/,/name/nm14...       NaN

[259146 rows x 12 columns]>

In [11]:
#Removing 'min' from runtime column in order to convert it to int format
combined_df['runtime'] = combined_df['runtime'].str.replace(r'\D', '', regex=True).astype(int)

In [12]:
# Keep only the rows where 'runtime' is between 80 and 300 (inclusive)
combined_df = combined_df[(combined_df['runtime'] >= 80) & (combined_df['runtime'] <= 300)]

In [13]:
# Get and sort unique values in the 'runtime' column
sorted_unique_runtimes = np.sort(combined_df['runtime'].unique())

# Print the sorted unique values to ensure they are between 80 and 300
print(sorted_unique_runtimes)

[ 80  81  82  83  84  85  86  87  88  89  90  91  92  93  94  95  96  97
  98  99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115
 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133
 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151
 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169
 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187
 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205
 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223
 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 240 241 242
 243 244 245 246 247 248 250 252 253 254 255 256 257 258 259 260 262 263
 264 265 266 267 268 269 270 271 272 273 275 278 279 280 281 282 284 285
 287 288 289 290 293 294 295 299 300]

In [14]:
#Remove duplicate entries e.g. RoboCop listed in both crime and sci-fi etc
# Count occurrences of each movie_id
movie_id_counts = combined_df['movie_id'].value_counts()

# Filter to get only those movie_ids with more than 1 occurrence (duplicates)
duplicates = movie_id_counts[movie_id_counts > 1]

# Total number of duplicate entries
total_duplicate_rows = combined_df[combined_df['movie_id'].duplicated(keep=False)]

# Display results
print("Duplicate movie_ids and their counts:")
print(duplicates)
print("\nTotal number of duplicate rows:", len(total_duplicate_rows))

Duplicate movie_ids and their counts:
movie_id
tt1800393     10
tt3643390      9
tt2768084      9
tt10091688     9
tt4542726      9
              ..
tt13465228     2
tt0292957      2
tt4165204      2
tt0068482      2
tt0105183      2
Name: count, Length: 53084, dtype: int64

Total number of duplicate rows: 134333

In [15]:
# Remove duplicate rows based on 'movie_id', keeping the first occurrence
combined_df = combined_df.drop_duplicates(subset='movie_id', keep='first')

In [16]:
# Define the movie name you want to filter by
movie_name_to_filter = "robocop"

# Filter the DataFrame for rows where 'movie_name' matches the specified entry
filtered_df = combined_df[combined_df['movie_name'] == movie_name_to_filter]

# Display the filtered DataFrame
print(filtered_df)

#this resulted in empty dataframe due to case sensitivity at first

Empty DataFrame
Columns: [movie_id, movie_name, year, runtime, genre, rating, description, director, director_id, star, star_id, votes]
Index: []

In [17]:
# Convert all string entries in the DataFrame to lowercase
combined_df = combined_df.applymap(lambda x: x.lower() if isinstance(x, str) else x)

In [18]:
print(combined_df[combined_df['movie_name'] == 'robocop'])

      movie_id movie_name  year  runtime                  genre  rating  \
171  tt0093870    robocop  1987      102  action, crime, sci-fi     7.6
874  tt1234721    robocop  2014      117  action, crime, sci-fi     6.1

                                           description        director  \
171  in a dystopic and crime-ridden detroit, a term...  paul verhoeven
874  in 2028 detroit, when alex murphy, a loving hu...    josé padilha

          director_id                                               star  \
171  /name/nm0000682/  peter weller, \nnancy allen, \ndan o'herlihy, ...
874  /name/nm0655683/  joel kinnaman, \ngary oldman, \nmichael keaton...

                                               star_id     votes
171  /name/nm0000693/,/name/nm0000262/,/name/nm0641...  263559.0
874  /name/nm1172478/,/name/nm0000198/,/name/nm0000...  231451.0

In [19]:
#checking which columns still have null/zero entries and if further filtering is required
print(combined_df.isnull().sum())

# A single missing entry for movie_name and 2000 missing entries for year is concerning

movie_id           0
movie_name         1
year            2099
runtime            0
genre              0
rating         20721
description        0
director        1165
director_id     1165
star            3722
star_id         2863
votes          20720
dtype: int64

In [20]:
# Filter the DataFrame to show rows where 'movie_name' is missing
missing_movie_name_rows = combined_df[combined_df['movie_name'].isna()]

# Display the rows with missing 'movie_name'
print(missing_movie_name_rows)

#After checking online, this movie's title is "none"

          movie_id movie_name  year  runtime     genre  rating  \
354393  tt17042812        NaN  2010       87  thriller     NaN

                                              description          director  \
354393  a survival game show on the web, abandons cont...  christopher fink

             director_id                                               star  \
354393  /name/nm0002714/  linda alcazar, \nandre johnson, \nbonnie mcbri...

                                                  star_id  votes
354393  /name/nm1785036/,/name/nm13299177/,/name/nm132...    NaN

In [21]:
# Replace missing or blank 'movie_name' with the actual title 'none'
combined_df.loc[combined_df['movie_name'].isna() | (combined_df['movie_name'] == ''), 'movie_name'] = 'none'

In [22]:
print(combined_df[combined_df['movie_name'] == 'none'])

          movie_id movie_name  year  runtime     genre  rating  \
354393  tt17042812       none  2010       87  thriller     NaN

                                              description          director  \
354393  a survival game show on the web, abandons cont...  christopher fink

             director_id                                               star  \
354393  /name/nm0002714/  linda alcazar, \nandre johnson, \nbonnie mcbri...

                                                  star_id  votes
354393  /name/nm1785036/,/name/nm13299177/,/name/nm132...    NaN

In [23]:
# Filter the DataFrame to show rows where 'movie_year' is missing
missing_movie_year_rows = combined_df[combined_df['year'].isna()]

# Display the rows with missing 'movie_year'
print(missing_movie_year_rows)

#Mostly movies that are in production, but not released yet. Will remove these from database

          movie_id              movie_name year  runtime  \
811      tt5635026       peter pan & wendy  NaN      106
2983     tt1134795                   akira  NaN      102
3425    tt10559102               supercell  NaN      100
3444    tt21953246        born to be great  NaN       90
3939    tt21479078        under protection  NaN       80
...            ...                     ...  ...      ...
366631  tt11078996     the kazbat soldiers  NaN      120
366883   tt2622184             gitmo titmo  NaN      119
367673   tt3834494  operation jungle jewel  NaN       90
367839  tt21261370   las armas de don pepe  NaN       89
367969   tt8531072         namhin gotrohin  NaN       80

                             genre  rating  \
811      action, adventure, comedy     NaN
2983        action, drama, mystery     NaN
3425      action, adventure, drama     NaN
3444    action, adventure, fantasy     NaN
3939                action, comedy     NaN
...                            ...     ...
366631                  drama, war     NaN
366883                         war     NaN
367673                         war     NaN
367839                         war     NaN
367969                  drama, war     NaN

                                              description  \
811     live-action adaptation of j.m. barrie's classi...
2983    the leader of a biker gang tries to save his k...
3425    a teenage boy runs away to follow his fathers ...
3444    "alexander the great's early life while still ...
3939    witnessing a traumatic event, 12 year old emil...
...                                                   ...
366631  this story is about human relationship and dra...
366883  female americans and some foreigners are inter...
367673  during the invasion of panama, a green beret l...
367839                                         add a plot
367969                                         add a plot

                         director       director_id  \
811                  david lowery  /name/nm1108007/
2983                taika waititi  /name/nm0169806/
3425    herbert james winterstern  /name/nm3580196/
3444                  jalal merhi  /name/nm0580725/
3939                     fred tee  /name/nm7052593/
...                           ...               ...
366631             askar uzabayev  /name/nm6202046/
366883   norman clark stewart jr.  /name/nm5459703/
367673                dan barrios  /name/nm3750790/
367839            pablo rojas que  /name/nm3210163/
367969                razib ahsan  /name/nm7760028/

                                                     star  \
811     alexander molony, \never anderson, \njoshua pi...
2983                                                  NaN
3425    alec baldwin, \nskeet ulrich, \nanne heche, \n...
3444    sam heughan, \nlauren cohan, \nhala sedki, \nj...
3939    normita joven, \nkate sanchez, \nannalise berg...
...                                                   ...
366631                                                NaN
366883                                                NaN
367673                                                NaN
367839                               armando miguel gómez
367969                                          ratan dev

                                                  star_id  votes
811     /name/nm9898029/,/name/nm8349839/,/name/nm1101...    NaN
2983                                                  NaN    NaN
3425    /name/nm0000285/,/name/nm0000240/,/name/nm0000...    NaN
3444    /name/nm1537825/,/name/nm1659348/,/name/nm1507...    NaN
3939    /name/nm2055646/,/name/nm12113294/,/name/nm118...    NaN
...                                                   ...    ...
366631                                                NaN    NaN
366883                                                NaN    NaN
367673                                                NaN    NaN
367839                                   /name/nm5404677/    NaN
367969                                   /name/nm7760029/    NaN

[2099 rows x 12 columns]

In [24]:
#Removing movies with null year
combined_df.dropna(subset=['year'], inplace=True)

In [25]:
#Removing movies with null director
combined_df.dropna(subset=['director_id'], inplace=True)

In [26]:
#Removing movies with null star
combined_df.dropna(subset=['star'], inplace=True)

In [27]:
print(combined_df.dtypes)

movie_id        object
movie_name      object
year            object
runtime          int64
genre           object
rating         float64
description     object
director        object
director_id     object
star            object
star_id         object
votes          float64
dtype: object

In [28]:
print(combined_df.duplicated().sum())

0

In [29]:
print(combined_df.describe())
print(combined_df.info())

             runtime         rating         votes
count  122222.000000  105976.000000  1.059770e+05
mean      102.404117       5.856138  8.394942e+03
std        21.082810       1.289952  5.422813e+04
min        80.000000       1.000000  5.000000e+00
25%        89.000000       5.100000  4.500000e+01
50%        96.000000       6.000000  2.070000e+02
75%       110.000000       6.700000  1.148000e+03
max       300.000000      10.000000  2.675531e+06
<class 'pandas.core.frame.DataFrame'>
Index: 122222 entries, 0 to 368291
Data columns (total 12 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   movie_id     122222 non-null  object
 1   movie_name   122222 non-null  object
 2   year         122222 non-null  object
 3   runtime      122222 non-null  int64
 4   genre        122222 non-null  object
 5   rating       105976 non-null  float64
 6   description  122222 non-null  object
 7   director     122222 non-null  object
 8   director_id  122222 non-null  object
 9   star         122222 non-null  object
 10  star_id      122222 non-null  object
 11  votes        105977 non-null  float64
dtypes: float64(2), int64(1), object(9)
memory usage: 12.1+ MB
None

In [30]:
#There are some entries with no data, such as rating, votes etc, which I don't think will cause issues 
# and can be worked around. Year column being a string rather than integer/time should also be fine since
#I'm not planning on summing or doing calculations with year entries

In [31]:
# Count occurrences of each director
director_counts = combined_df['director'].value_counts()

# Display the director with the most appearances
most_frequent_director = director_counts.idxmax()  # Get the director with the highest count
most_frequent_director_count = director_counts.max()  # Get the highest count value

print(f"The director with the most appearances is {most_frequent_director} with {most_frequent_director_count} movies.")

The director with the most appearances is jesús franco with 99 movies.

In [32]:
# Count occurrences of each star
star_counts = combined_df['star'].value_counts()

# Display the star with the most appearances
most_frequent_star = star_counts.idxmax()  # Get the star with the highest count
most_frequent_star_count = star_counts.max()  # Get the highest count value

print(f"The star with the most appearances is {most_frequent_star} with {most_frequent_star_count} movies.")

The star with the most appearances is omer pasha with 26 movies.

In [33]:
# Count occurrences of each director and get the top 20
top_directors = combined_df['director'].value_counts().head(20)

# Display the top 20 directors and their movie counts
print("Top 20 directors with the most movies:")
print(top_directors)

Top 20 directors with the most movies:
director
jesús franco                 99
godfrey ho                   97
cheh chang                   72
gilberto martínez solares    68
alfredo b. crevenna          68
rené cardona                 64
jing wong                    63
yuen chor                    60
michael curtiz               59
nejat saydam                 59
atif yilmaz                  57
takashi miike                57
umberto lenzi                57
orhan aksoy                  55
osman f. seden               53
ram gopal varma              52
richard thorpe               52
masahiro makino              52
herman yau                   51
teruo ishii                  51
Name: count, dtype: int64

In [34]:
# Count occurrences of each star and get the top 20
top_stars = combined_df['star'].value_counts().head(20)

# Display the top 20 stars and their movie counts
print("Top 20 stars with the most movies:")
print(top_stars)

Top 20 stars with the most movies:
star
omer pasha                                                                   26
adam parsons                                                                 25
nobuyo ôyama, \nnoriko ohara, \nmichiko nomura, \nkaneta kimotsuki           20
ove sprogøe, \nmorten grunwald, \npoul bundgaard, \nkirsten walther          11
renato aragão, \ndedé santana, \nmussum, \nzacarias                          10
arve opsahl, \ncarsten byhring, \nsverre holm, \naud schønemann              10
rick jay glen, \nsiobhan lumsden, \npaul 'maxx' rinehart, \ntoni thompson     9
jorge luis villacorta santamato                                               9
wasabi mizuta, \nmegumi ohara, \nyumi kakazu, \nsubaru kimura                 7
erik grankvist                                                                6
akiko yajima, \nmiki narahashi, \nkeiji fujiwara, \nsatomi kôrogi             6
jason barker, \ng. larry butler, \ndavid gerrold, \ndonald f. glut            6
juwel chowdhury, \nricky riyaf                                                6
william shatner, \nleonard nimoy, \ndeforest kelley, \njames doohan           6
binh chi lam, \nchanh tin nguyen, \nlan thanh, \nhong thu                     5
gösta ekman, \nkjell bergqvist, \nrolf lassgård, \nniklas hjulström           5
lewis stone, \nmickey rooney, \ncecilia parker, \nfay holden                  5
sebastian bezzel, \nsimon schwarz, \nlisa maria potthoff, \nenzi fuchs        5
melanie stone, \nadam johnson, \njake stormoen, \nnicola posener              4
paul 'maxx' rinehart, \ntoni thompson, \njustin j. wheeler                    4
Name: count, dtype: int64

In [76]:
print(combined_df[combined_df['director'] == 'jim wynorski'])
#neric roberts??? Maybe a fuzzy search will fix this?

         movie_id                 movie_name  year  runtime  \
897     tt0098193  the return of swamp thing  1989       88
2228    tt0092860            deathstalker ii  1987       85
2357    tt0089503            the lost empire  1984       83
4220    tt0092652            big bad mama ii  1987       83
7750    tt0385622              crash landing  2005       88
8603    tt0248742           crash point zero  2001       93
8977    tt0168785               final voyage  1999       95
9970    tt0217979                     ablaze  2001       97
10412   tt0189340            against the law  1997       90
10894   tt0181838            stealth fighter  1999       88
11186   tt0217654                    militia  2000       89
12643   tt0347439              lost treasure  2003       85
14411   tt0163529                the assault  1998       85
15067   tt1336103          lost in the woods  2009       84
15930   tt0164016             desert thunder  1999       90
55868   tt0346811    the curse of the komodo  2004       92
58481   tt5442626                nessie & me  2016       90
96595   tt0108142             sins of desire  1993       87
98959   tt0118079           victim of desire  1995       85
132138  tt0104938                    munchie  1992       80
133614  tt0107427       little miss millions  1993       90
133922  tt0110593       munchie strikes back  1994       94
134077  tt6315010        a doggone hollywood  2017       84
135105  tt5853124        a doggone christmas  2016       82
149716  tt0111244                  sorceress  1995       93
150611  tt0100811         transylvania twist  1989       90
177416  tt0095756          not of this earth  1988       81
179002  tt0099743    the haunting of morella  1990       82
179670  tt0101256                976-evil ii  1991       93
185128  tt1291582           vampire in vegas  2009       82

                             genre  rating  \
897      action, adventure, comedy     4.6
2228     action, adventure, comedy     5.1
2357     action, adventure, comedy     4.7
4220         action, comedy, crime     4.7
7750          action, crime, drama     3.7
8603      action, adventure, drama     3.4
8977       action, drama, thriller     3.7
9970       drama, action, thriller     3.4
10412      action, crime, thriller     4.3
10894      action, drama, thriller     3.4
11186            action, adventure     3.5
12643                       action     3.8
14411             action, thriller     4.0
15067       action, comedy, family     2.0
15930                action, drama     3.7
55868    adventure, horror, sci-fi     2.9
58481   adventure, family, fantasy     3.2
96595              crime, thriller     4.0
98959       crime, drama, thriller     3.8
132138     comedy, family, fantasy     3.6
133614              comedy, family     5.1
133922     comedy, family, fantasy     3.2
134077                      family     4.9
135105                      family     4.1
149716   fantasy, horror, thriller     4.1
150611     comedy, fantasy, horror     5.3
177416      comedy, horror, sci-fi     4.9
179002   horror, romance, thriller     4.4
179670                      horror     4.3
185128                      horror     2.7

                                              description      director  \
897     in this tongue-in-cheek sequel, the benevolent...  jim wynorski
2228    in this parody of the sword and sorcery films,...  jim wynorski
2357    seeking revenge, officer angel wolfe, her nati...  jim wynorski
4220    the evil local land baron forecloses on angie'...  jim wynorski
7750    when a hostage situation arises on a private p...  jim wynorski
8603    a scientist recovers a powerful weapon created...  jim wynorski
8977    this is the story of a modern day pirate mad m...  jim wynorski
9970    an oil refinery blows up, causing a firestorm ...  jim wynorski
10412   a trigger-happy outlaw goes on the run and a b...  jim wynorski
10894   ice-t stars as a naval pilot that fakes his ow...  jim wynorski
11186   an atf agent goes undercover to retrieve stole...  jim wynorski
12643   a cop finds a mysterious map from the age of e...  jim wynorski
14411   a female cop assigned to protect a dead drug d...  jim wynorski
15067   a smart and resourceful boy goes on vacation w...  jim wynorski
15930   terrorists threaten to launch a missile armed ...  jim wynorski
55868   genetically-engineered komodo dragons have bec...  jim wynorski
58481   a 10-year-old boy moves to a lakeside town and...  jim wynorski
96595   suspecting foul play, kay egan goes undercover...  jim wynorski
98959   an sec agent investigating $70m in missing fun...  jim wynorski
132138  in this in-name-only sequel to munchies (1987)...  jim wynorski
133614  private detective nick is hired to bring back ...  jim wynorski
133922  the magical munchie is back, and if he gets in...  jim wynorski
134077  murphy ("just jesse the jack") is a mega-famou...  jim wynorski
135105  when the cia discovers a cute orphan puppy wit...  jim wynorski
149716  jealous witch erica uses her powers to influen...  jim wynorski
150611  the nephew of a librarian must go collect a 20...  jim wynorski
177416  an alien arrives on earth looking to take huma...  jim wynorski
179002  loosely based on the short story by edgar alla...  jim wynorski
179670  a seemingly harmless telephone service endows ...  jim wynorski
185128  when a 300-year-old vampire hires a genetic sc...  jim wynorski

             director_id                                               star  \
897     /name/nm0691061/  dick durock, \nheather locklear, \nlouis jourd...
2228    /name/nm0691061/  john terlesky, \nmonique gabrielle, \njohn laz...
2357    /name/nm0691061/  melanie vincz, \nraven de la croix, \nangela a...
4220    /name/nm0691061/  angie dickinson, \nrobert culp, \ndanielle bri...
7750    /name/nm0691061/  antonio sabato jr., \nmichael paré, \nbrianne ...
8603    /name/nm0691061/  treat williams, \nhannes jaenicke, \ngary huds...
8977    /name/nm0691061/  dylan walsh, \nice-t, \nerika eleniak, \nclaud...
9970    /name/nm0691061/  john bradley, \ntom arnold, \nice-t, \namanda ...
10412   /name/nm0691061/  nancy allen, \nrichard grieco, \nnick mancuso,...
10894   /name/nm0691061/  ice-t, \ncostas mandylor, \nerika eleniak, \ns...
11186   /name/nm0691061/  dean cain, \njennifer beals, \nfrederic forres...
12643   /name/nm0691061/  stephen baldwin, \nnicollette sheridan, \ncoby...
14411   /name/nm0691061/  stacie randall, \nmatt mccoy, \nmelissa brasse...
15067   /name/nm0691061/  michael madsen, \nsean kyle, \nhayley sanchez,...
15930   /name/nm0691061/  tim abell, \ndaniel baldwin, \nari barak, \nme...
55868   /name/nm0691061/  tim abell, \nmelissa brasselle, \ngail thackra...
58481   /name/nm0691061/  michael paré, \ntoni hudson, \npaul wallace, \...
96595   /name/nm0691061/  gail thackray, \njohn henry richardson, \ndeli...
98959   /name/nm0691061/  marc singer, \nshannon tweed, \njohnny william...
132138  /name/nm0691061/  loni anderson, \nandrew stevens, \njamie mcenn...
133614  /name/nm0691061/  howard hesseman, \njennifer love hewitt, \nani...
133922  /name/nm0691061/  lesley-anne down, \nandrew stevens, \ntrenton ...
134077  /name/nm0691061/  jesse the jack russell terrier, \npaul logan, ...
135105  /name/nm0691061/  jaret sacrey, \nzachary cirino, \ndominique sw...
149716  /name/nm0691061/  linda blair, \nedward albert, \njulie strain, ...
150611  /name/nm0691061/  robert vaughn, \nteri copley, \nsteve altman, ...
177416  /name/nm0691061/  traci lords, \narthur roberts, \nlenny juliano...
179002  /name/nm0691061/  nicole eggert, \ndavid mccallum, \nchristopher...
179670  /name/nm0691061/  debbie james, \nrené assa, \npatrick o'bryan, ...
185128  /name/nm0691061/  tony todd, \ndelia sheppard, \nedward spivak, ...

                                                  star_id   votes
897     /name/nm0244270/,/name/nm0000181/,/name/nm0431...  5833.0
2228    /name/nm0855613/,/name/nm0001249/,/name/nm0493...  3090.0
2357    /name/nm0898866/,/name/nm0209189/,/name/nm0007...  1506.0
4220    /name/nm0001141/,/name/nm0191685/,/name/nm0109...   946.0
7750    /name/nm0004645/,/name/nm0001595/,/name/nm1732...   888.0
8603    /name/nm0001852/,/name/nm0415395/,/name/nm0399...   510.0
8977    /name/nm0909620/,/name/nm0001384/,/name/nm0000...   817.0
9970    /name/nm0103280/,/name/nm0000792/,/name/nm0001...   693.0
10412   /name/nm0000262/,/name/nm0001298/,/name/nm0541...   357.0
10894   /name/nm0001384/,/name/nm0541908/,/name/nm0000...  1019.0
11186   /name/nm0001002/,/name/nm0000884/,/name/nm0002...   814.0
12643   /name/nm0000286/,/name/nm0001733/,/name/nm0572...   595.0
14411   /name/nm0099928/,/name/nm0566783/,/name/nm0105...   207.0
15067   /name/nm0000514/,/name/nm3224187/,/name/nm1371...   528.0
15930   /name/nm0008543/,/name/nm0000838/,/name/nm0052...   418.0
55868   /name/nm0008543/,/name/nm0105465/,/name/nm0364...  1618.0
58481   /name/nm0001595/,/name/nm0399981/,/name/nm3070...   203.0
96595   /name/nm0364703/,/name/nm0724604/,/name/nm0791...   568.0
98959   /name/nm0001743/,/name/nm0000238/,/name/nm0930...   460.0
132138  /name/nm0000756/,/name/nm0002989/,/name/nm0568...   870.0
133614  /name/nm0381606/,/name/nm0001349/,/name/nm0606...   384.0
133922  /name/nm0001153/,/name/nm0002989/,/name/nm0461...   326.0
134077  /name/nm8260553/,/name/nm0517638/,/name/nm0001...    88.0
135105  /name/nm2075851/,/name/nm8266000/,/name/nm0000...   211.0
149716  /name/nm0000304/,/name/nm0001902/,/name/nm0001...  1164.0
150611  /name/nm0001816/,/name/nm0178746/,/name/nm0022...   625.0
177416  /name/nm0000183/,/name/nm0730838/,/name/nm0432...  2542.0
179002  /name/nm0001176/,/name/nm0564724/,/name/nm0357...   915.0
179670  /name/nm0416415/,/name/nm0039734/,/name/nm0639...  1758.0
185128  /name/nm0865302/,/name/nm0791934/,/name/nm1659...   377.0

In [37]:
# Check if all star names start with 'n'
starts_with_n = combined_df['star'].str.startswith('n')

# Get the count of entries that start with 'n'
n_prefix_count = starts_with_n.sum()

# Get the total count of entries in the 'star' column
total_star_count = combined_df['star'].notna().sum()

# Print the results
print(f"Total star entries: {total_star_count}")
print(f"Entries starting with 'n': {n_prefix_count}")

# Optional: Display some example entries that start with 'n'
if n_prefix_count > 0:
    example_entries = combined_df[starts_with_n]['star'].unique()
    print("Example entries starting with 'n':")
    print(example_entries[:10])  # Show the first 10 examples

Total star entries: 122222
Entries starting with 'n': 3763
Example entries starting with 'n':
['nicolas cage, \npedro pascal, \ntiffany haddish, \nsharon horgan'
 'n.t. rama rao jr., \nram charan teja, \najay devgn, \nalia bhatt'
 'nicolas cage, \ndean armstrong, \nryan kiera armstrong, \nnoah le gros'
 'nicolas cage, \ndiane kruger, \njustin bartha, \nsean bean'
 'nicolas cage, \njohn cusack, \njohn malkovich, \ncolm meaney'
 'noah ringer, \nnicola peltz beckham, \njackson rathbone, \ndev patel'
 'naomi watts, \njack black, \nadrien brody, \nthomas kretschmann'
 'nanoka hara, \nhokuto matsumura, \neri fukatsu, \nkôshirô matsumoto'
 'nicolas cage, \nchandler canterbury, \nrose byrne, \nlara robinson'
 'noomi rapace, \nglenn close, \nwillem dafoe, \nmarwan kenzari']

In [38]:
# Initialize lists to store movie IDs
good_movies = []
bad_movies = []

In [39]:
def add_movie():
    movie_id_input = input("Enter the movie ID: ").strip()
    
    # Check if the movie_id exists in the DataFrame
    if movie_id_input not in combined_df['movie_id'].values:
        print("Movie ID not found.")
        return
    
    # Ask if the movie is good or bad
    status = input("Is this movie 'good' or 'bad'? ").strip().lower()
    
    if status == 'good':
        if movie_id_input in good_movies:
            print("This movie is already marked as good.")
        else:
            good_movies.append(movie_id_input)
            print(f"Movie with ID '{movie_id_input}' added to good movies.")
    elif status == 'bad':
        if movie_id_input in bad_movies:
            print("This movie is already marked as bad.")
        else:
            bad_movies.append(movie_id_input)
            print(f"Movie with ID '{movie_id_input}' added to bad movies.")
    else:
        print("Invalid status. Please enter 'good' or 'bad'.")

In [40]:
def recommend_movies():
    recommendations = pd.DataFrame()
    
    # Get stars of good movies
    good_stars = combined_df[combined_df['movie_id'].isin(good_movies)]['star'].str.split(', ', expand=True).stack().unique()
    
    # Filter movies by these stars
    star_recommendations = combined_df[combined_df['star'].str.contains('|'.join(good_stars), case=False, na=False)]
    
    # Remove movies already marked as good or bad
    recommendations = star_recommendations[~star_recommendations['movie_id'].isin(good_movies + bad_movies)]
    
    # Sort by rating and votes
    recommendations = recommendations.sort_values(by=['rating', 'votes'], ascending=[False, False])
    
    # Show recommendations
    print("\nRecommended Movies based on Stars:")
    print(recommendations[['movie_name', 'year', 'movie_id']].head(10))

In [122]:
# usage
#add_movie()  # Run this to receive prompt to enter movie ID, then add a movie as good or bad 
recommend_movies()  # Run this to get recommendations

Recommended Movies based on Stars:
                         movie_name  year   movie_id
94835                  pulp fiction  1994  tt0110912
230577                 forrest gump  1994  tt0109830
86541                    goodfellas  1990  tt0099685
120      terminator 2: judgment day  1991  tt0103064
130775        it's a wonderful life  1946  tt0038650
365383        the heart of no place  2009  tt1382250
52503            back to the future  1985  tt0088763
211807                  rear window  1954  tt0047396
211801                      vertigo  1958  tt0052357
94904   once upon a time in america  1984  tt0087843

In [121]:
print(combined_df.loc[combined_df['movie_id'].isin(good_movies), ['movie_id', 'movie_name']])

         movie_id                     movie_name
171     tt0093870                        robocop
223     tt0095016                       die hard
268     tt0100802                   total recall
448     tt0096256                      they live
1745    tt0083739                  class of 1984
2824    tt0102004                   the hard way
4209    tt0072886  doc savage: the man of bronze
52523   tt0093779             the princess bride
54055   tt0059183      the flight of the phoenix
94944   tt0104952                my cousin vinny
94994   tt0090756                    blue velvet
131505  tt0039628         miracle on 34th street
148450  tt0112896    dracula: dead and loving it
299867  tt0787475                        hot rod

In [117]:
print(combined_df[combined_df['movie_name'] == 'class of 1984'])

       movie_id     movie_name  year  runtime                 genre  rating  \
1745  tt0083739  class of 1984  1982       98  action, crime, drama     6.5

                                            description        director  \
1745  a new teacher at a troubled inner-city high sc...  mark l. lester

           director_id                                               star  \
1745  /name/nm0504495/  perry king, \nmerrie lynn ross, \ntimothy van ...

                                                star_id    votes
1745  /name/nm0455133/,/name/nm0743679/,/name/nm0887...  12344.0

In [104]:
print(combined_df[combined_df['director'] == 'rene laloux'])

Empty DataFrame
Columns: [movie_id, movie_name, year, runtime, genre, rating, description, director, director_id, star, star_id, votes]
Index: []

In [ ]:
#observations, some movies missing from DF after cleaning e.g. Hard to Die, Office Space, This Spinal Tap
#Recommended a movie about Yoko Ono for some reason???